 .container {
     display: grid;
     width: 800px;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
     background-color: aqua;
     gap: 5px;
 }

 .gridItem {

    
 }