<div class="card mt-5">
    <div class="card-header">Uzsakymo sarasas</div>
    <div class="card-body">
        <ul class="list-grup">
            <li class="list-group-item">
                <div class="raw">
                    <div class="col-md-6">1.pavadinimas</div>
                    <div class="col-md-2">2</div>
                    <div class="col-md-4"><button class="btn btn-danger btn-sm">Istrinti</button></div>
                </div>

            </li>

        </ul>

    </div>



</div>