<div class="card mt-5">
    <div class="card-header">Prideti nauja produkta</div>
    <div class="card-body">
        <label for="" class="form-label">Produkto pavadinimas</label>
        <input type="text" name="" id="" class="from-control mb-3" [(ngModel)]="name">
        <label for="" class="form-label">Kiekiss</label>
        <input type="number" name="" id="" class="from-control mb-3" [(ngModel)]="quantity">
        <button class="btn btn-primary" (click)="addItem() ">Prideti</button>
    </div>

</div>