* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    box-shadow: -1px 1px 3px -1px rgba(8, 8, 8, 0.29);
    -webkit-box-shadow: -1px 1px 3px -1px rgba(8, 8, 8, 0.29);
    -moz-box-shadow: -1px 1px 3px -1px rgba(8, 8, 8, 0.29);
}

h2 {
    font-size: 36px;
}

button {
    cursor: pointer;
}

.purple {
    background-color: #60267f;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-size: 14px;
}

.learn-more {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.main-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.main-header-container img {
    width: 150px;
}

.main-header-list * {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    text-decoration: none;
    font-weight: 700;
    color: #2b0236;
}

.main-header-list button {
    padding: 10px;
    background-color: transparent;
    border: none;
    border: 2px solid #9a54bc;
    border-radius: 5px;
    color: #9a54bc;
}

.main-header-list button:hover {
    color: #fff;
    background: #9a54bc;
    cursor: pointer;
}

.top-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 100px;
    text-align: center;
}

.top-header-container h1 {
    font-size: 40px;
    color: #2b0236;
}

.top-header-container button {
    padding: 15px 30px;
    background-color: #9a54bc;
    border: none;
    border: 1.5px solid #9a54bc;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.top-header-container button:hover {
    background-color: #fff;
    color: #60267f;
}

.elipse-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 600px;
}

.absolute {
    position: absolute;
    top: 100px;
}

.big-elipse {}

.small-elipse {
    top: 120px;
}

.top-phone {
    top: 130px;
}

.logo-in-elipse {
    top: 230px;
}

.btn-in-elipses {
    top: 420px;
    padding: 10px 15px;
    background-color: #fff;
    border: none;
    border: 2px solid #9a54bc;
    border-radius: 5px;
    color: #9a54bc;
    font-weight: 500;
    cursor: pointer;
}

.btn-in-elipses:hover {
    background-color: #9a54bc;
    color: #fff;
}

.top-brands-icons-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 70px;
}

.icons-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 75%;
}

.top-brands-icons-container {
    font-size: 36px;
}

.icons-container img {
    max-width: 150px;
}

.how-collab-help-main-container {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.how-help-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 50%;
    margin-top: 8rem;
    gap: 10rem;
}

.para-container {
    width: 30rem;
}

.how-help-btn-container {
    width: 100%;
    background-color: #FFF;
    padding: 0.5rem;
    box-shadow: -1px 1px 3px -1px rgba(8, 8, 8, 0.29);
    -webkit-box-shadow: -1px 1px 3px -1px rgba(8, 8, 8, 0.29);
    -moz-box-shadow: -1px 1px 3px -1px rgba(8, 8, 8, 0.29);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.how-help-btn-container button {
    width: 50%;
    padding: 0.6rem;
    border: none;
    border: 2px solid #FFF;
    background-color: transparent;
    font-weight: 500;
    cursor: pointer;
}

.how-help-btn-container button:hover {
    background-color: #60267f;
    color: #FFF;
    border: 2px solid #9a54bc;
    border-radius: 5px;
}

.how-help-all-text-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 1.5rem auto;
    gap: 0.5rem;
}

.how-help-all-text-container p {
    padding: 1rem;
    background-color: #F2F2F2;
    font-size: 14px;
}

.img-container img {
    width: 15rem;
}

.video-main-container {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.video-main-container p {
    width: 50%;
    text-align: center;
}

.project-done-container {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.project-done-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 80%;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
}

.card img {
    width: 100%;
}

.card p,
.card span {
    margin-left: 20px;
    font-weight: 500;
}

.card p {
    color: #60267f;
}

.big-cards-container {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.big-cards-top-paragraph {
    color: #A79D9D;
    margin-top: 15px;
}

.month-year-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 35px;
    gap: 10px;
}

.monthly {
    color: #A79D9D;
}

.month-year-container img {
    width: 35px;
}

.yearly {
    color: #2B0236;
    font-weight: 500;
}

.discount {
    background-color: #FFE87A;
    border-radius: 5px;
    padding: 3px 4px;
    font-size: 12px;
}

.big-three-cards-container {
    margin-top: 50px;
    display: flex;
    gap: 50px;
}

.big-card {
    border: 1px solid black;
    max-width: 300px;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 10px;
}


.big-card>ul {
    list-style-type: none;
}

.big-card-ul-list li {
    margin-left: 20px;
}

.big-card-ul-list li::before {
    content: "";
    border-color: transparent #111;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}

.big-card button {
    padding: 15px;
    border: 2px solid #2B0236;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    background: none;
    color: #2B0236;
}

.big-third-card {
    background-color: #56E6A5;
}

.big-third-card button {
    background: #FFFFFF;
}


.ratings-section {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ratings-section-info {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    place-items: center;
}

.ratings-section-info button {
    padding: 2rem 3rem;
    background: none;
    border: none;
    cursor: pointer;
}

.ratings-section-info p {
    text-align: center;
    line-height: 25px;
    font-weight: 500;
    font-size: 14px;
}

.ratings-section-profile {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.join-us-section {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    position: relative;
    min-height: 600px;
}

.join-us-section p {
    width: 60%;
    text-align: center;
}

.join-us-section button {
    cursor: pointer;
    padding: 0.7rem 1rem;
    color: #fff;
    background: #9A54BC;
    border-radius: 5px;
    border: none;
}

.join-us-absolute-container {
    position: absolute;
    bottom: 30px;
}

.download-collab-app {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #9A54BC;
    padding: 10rem;
    gap: 40px;
}

.download-collab-app>h2 {
    color: #fff;
    font-size: 45px;
}

.download-collab-app-buttons {
    display: flex;
    gap: 20px;
}

.download-collab-app-buttons button {
    padding: 0.6rem 1.5rem;
    border-radius: 5px;
    border: 2px solid #fff;
    background: none;
    color: #fff;
    font-weight: 500;
}

.download-collab-app-buttons button:first-child {
    background: #fff;
    color: #9A54BC;
}

.section-help-container {
    display: grid;
    place-items: center;
    grid-template-columns: 2fr 3fr;
    min-height: 600px;
    background-color: #E2BDF21C;
}

.section-help-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.section-help-info-contacts {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    font-weight: 500;
}

.section-help-map img {
    min-width: 1000px;
}

footer {
    padding: 4rem 10rem;
}

footer a {
    text-decoration: none;
}

.footer-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-info-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-info-container span {
    font-weight: 600;
}

.footer-info-container p {
    margin-top: 20px;
    width: 40%;
}

.footer-info-container-icons {
    display: flex;
    gap: 20px;
}

.footer-info-about-container {
    display: flex;
    flex-direction: column;
}

.footer-info-about-company {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 20px;
}

.footer-info-about-company span {
    font-weight: 600;
}

.footer-info-about-links {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 25px;
}

.footer-contact-us {
    margin-top: 30px;
    display: flex;
    gap: 40px;
}

.footer-contact-us span {
    font-weight: 600;
}

.terms-of-service {
    text-align: center;
    background-color: #60267F;
    color: #FFF;
    padding: 0.7rem;
}